/*============= 覆盖element-ui样式 =============*/

.lqy {
  .iconfont {
    font-size: 12px;
  }
  .el-button {
    padding: 7px 10px;
  }
  .el-button [class*="icon-"] + span {
    margin-left: 8px;
  }
  .el-button--text {
    &:hover {
      background: #f1f1f1;
    }
  }

  /*============= query form =============*/
  .el-form--label-top {
    .el-form-item__label {
      font-size: 12px;
      color: #333333;
      font-weight: 500;
      padding: 0;
      height: 18px !important;
      line-height: 12px;
      display: inline-flex !important;
      align-items: flex-start;
      position: inherit !important;
      transform: translateY(0) !important;
    }
    .query-form-btns {
      display: flex;
      align-items: flex-end;
      height: 47px;
    }
  }

  /*============= el-pagination =============*/
  .el-pagination {
    display: flex;
    padding: 0 !important;
    margin-top: 16px;
    .el-pagination__sizes {
      flex: 1;
    }
    .el-select .el-input {
      margin: 0 !important;
    }
  }
}
